# 1. Split this string

In [1]:
s = "Hi there sam!"

In [2]:
s.split()

['Hi', 'there', 'sam!']

# 2. Use .format() to print the following string.
Output should be: The diameter of Earth is 12742 kilometers.

In [3]:
planet = "Earth"
diameter = 12742

In [4]:
print("The diameter of {} is {} kilometer.".format(planet,diameter))

The diameter of Earth is 12742 kilometer.

# 3. In this nest dictionary grab the word "hello"

In [5]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [6]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

# Numpy

In [7]:
import numpy as np

# 4.1 Create an array of 10 zeros?

# 4.2 Create an array of 10 fives?

In [8]:
arr=np.array([0]*10)
arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [9]:
arr=np.array([5]*10)
arr

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

# 5. Create an array of all the even integers from 20 to 35

In [10]:
arr=np.arange(20,35,2)
arr

array([20, 22, 24, 26, 28, 30, 32, 34])

# 6. Create a 3x3 matrix with values ranging from 0 to 8

In [11]:
arr=np.arange(0,8+1)
arr.reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

# 7. Concatenate a and b

# a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [12]:
a=np.array([1,2,3])
b=np.array([4,5,6])
np.concatenate((a,b),axis=0)

array([1, 2, 3, 4, 5, 6])

# Pandas

# 8. Create a dataframe with 3 rows and 2 columns

In [14]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\student\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\student\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\student\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\student\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\student\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [15]:
import pandas as pd

In [16]:
data=np.arange(10,16).reshape(3,2)
df=pd.DataFrame(data,columns=["C1","C2"])
df

   C1  C2
0  10  11
1  12  13
2  14  15

# 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [17]:
pd.date_range(end="2023-02-10",start="2023-01-01")

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

# 10. Create 2D list to DataFrame

# lists = [[1, 'aaa', 25], [2, 'bbb', 26], [3, 'ccc', 27]]

In [18]:
lists = [[1, 'aaa', 25], [2, 'bbb', 26], [3, 'ccc', 27]]

In [19]:
pd.DataFrame(lists,columns=["sno","name","age"])

   sno name  age
0    1  aaa   25
1    2  bbb   26
2    3  ccc   27